*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
header{
    height: 700px;
    background-color:rgb(180,208,231);

}
.navbar{
    background-color: white;
    height: 80px;
    padding: 20PX;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.l{ 
    float: left;
}
.r{
    float: right;
}
ul{
    list-style: none;
}
.menu li{
    display: inline-block;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    padding: 5PX 20PX;
}
.menu .login{
    text-align: center;
    background-color:cornflowerblue;
    color: white;
    padding: 5px 20px;
}
/*fine navbar*/
.container{
    max-width: 1400px;
    margin: 0 auto;
}
h1{
    font-size: 70px;
    margin-top: 20px;
}
.testo{
    width: 25%;
    text-align: left;
}
.pic{
    width: 100px;
    height: 100px;
}
.container .login{
    text-align: center;
    background-color:cornflowerblue;
    color: white;
    padding: 5px 10px;
    width: 60%;
}
p{
    margin: 20px 0;
}