*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
}  

header{
    height: 700px;
    background-color:rgb(180,208,231);
    position: relative;
}

.navbar{
    background-color: white;
    padding: 20PX;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.logo{
    padding: 4px 5px 0 0;
}

.left{ 
    float: left;
}

.right{
    float: right;
}

ul{
    list-style: none;
}

.menu li{
    display: inline-block;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    padding: 5PX 20PX;
    font-weight: 550;
}

.login{
    text-align: center;
    background-color:rgb(0,97,255);
    color: white;
    padding: 5px 20px;
}

.testo .login{
    width: 70%;
    text-align: center;
    background-color:rgb(0,97,255);
    color: white;
    padding: 10px 10px;
}
/*fine navbar*/

.container-jumbotron{
    max-width: 1400px;
    margin: 0 auto;
}

.container-jumbotron h1{
    font-size: 60px;
    margin-top: 20px;
}

.testo{
    width: 25%;
    text-align: left;
    display: inline-block;
}

.container .login{
    text-align: center;
    background-color:rgb(0,97,255);
    color: white;
    padding: 10px 10px;
    width: 60%;
    font-size: 15px;
}

p{
    margin: 20px 0;
}

.pic-jumbo{
    background-image: url(../img/jumbo.png);
    background-size:contain;
    background-repeat: no-repeat;
    width: 900px;
    height: 500px;
    position: absolute;
    right: 275px;
    bottom: -90px;
}
/*fine jumbotron*/

.container-option{
    max-width: 1200px;
    margin: 200px auto 0;
}

.container-option h1{
    font-size: 50px;
}

.preference {
    display: inline;
    font-weight: bolder;
    font-size: large;
    margin-right: 20px;
    padding-top: 30px;
}

/*inizio 3 colonne float-*/
.cost{
    font-weight: bolder;
}

.period{
    color:rgb(170,178,186);
    height: 40px;
}

.professional{
    height: 975px;
    border: 1px solid lightgray;
    width: 350px;
}

.standard{
    height: 975px;
    border: 1px solid lightgray;
    width: 350px;
    margin-right: 25px;
    margin-left: 25px;
}

.advanced{
    height: 975px;
    border: 1px solid lightgray;
    width: 350px;
}

h2{
    text-align: center;
    border-bottom: 1px solid lightgray;
    font-weight: lighter;
    padding: 5px 0;
}

.annulla{
    text-align: center;
    background-color:rgb(0,97,255);
    color: white;
    padding: 10px 10px;
    width: 80%;
    font-size: 15px;
    margin-bottom: 30px;
    margin-top: 50px;
}

.professional li, .standard li, .advanced li{
    margin: 25px 25px;
    font-size: 15px;
}

.check{
    color: rgb(0,97,255);
    height: 40px;
}

.container-margini li:first-child{
    font-weight: bolder;
    font-size: 30px;
}

/*fine3 colonne*/

.team{
    max-width: 1200px;
    margin: 50px 450px 50px 350px;
    height: 200px;
    border: 1px solid lightgray;
    position: relative;
}

.team li{
    margin: 15px 25px;
    font-size: 15px;
}
.team li:first-child{
    font-weight: bolder; 
    font-size: 30px;
}

.contact{
    text-align: center;
    background-color:rgb(0,97,255);
    color: white;
    padding: 10px 10px;
    font-size: 15px;
    width: 300px;
    position: absolute;
    top: 70px;
    right: 25px;
}
/*sezione 6 item*/
.container-margini{
    max-width: 1200px;
    margin: 50px auto;
}

.pic-team{
    background-image: url(../img/partner.png);
    background-size: contain;
    width: 600px;
    height: 500px;
}

.text-team{
    max-width: 550px;
    text-align: left;
    padding: 35px;
    margin-top: 20px;
}
.text-team h3{
    font-weight: bolder;
    font-size: 35px; 
    padding-bottom: 35px;
}

.trova{ 
    text-align: center;
    border: 1px solid black;
    color:black;
    padding: 10px 10px;
    width: 50%;
    font-size: 15px;
    margin-top: 40px;
}

/*fine sezione trova partner*/
.item{
float: left;
    width: 33.33%;
    height: 500px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.topic{
    font-size: 30px;
    padding: 10px;
    height: 100px
}
.item p{
    padding: 5px;
    max-width: 90%;
}

.img1{
    background-image: url(../img/business-feature-switching-tools.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 60%;
}

.img2{
    background-image: url(../img/business-feature-coordinate-it.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 60%;
}

.img3{
    background-image: url(../img/business-feature-multi-device.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 60%;
}

.img4{
    background-image: url(../img/business-feature-integrations-it.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 60%;
}

.img5{
    background-image: url(../img/business-feature-send-files-it.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 60%;
}

.img6{
    background-image: url(../img/business-feature-security.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 60%;
}

.piudi{
    font-size: 50px;
    margin: 100px 0 30px;
    font-weight: bold;
}

/*loghi*/
.sinistra{
    float: left;
    width: 33.33%;
    height: 600px;
    position: relative;
}

.verde{
    width: 50%;
    height: 300px;
    background-color: rgb(162,211,155);
    position: relative;
}

.azzurro{
    width: 50%;
    height: 300px;
    background-color: rgb(0,147,206);
    position: relative;
}

.purple{
    height: 300px;
    width: 50%;
    background-color: rgb(97,8,43);
    position: absolute;
    top: 0;
    right: 0;
}

.red{
    height: 300px;
    width: 50%;
    background-color: red;
    position: absolute;
    bottom: 0;
    right: 0;
}

.centro{
    float: left;
    width: 33.33%;
    height: 600px;
    background-color: whitesmoke;
    padding: 30px;
}

.lg{
    width: 200px;
    height: 70px;
}

.destra{
    float: left;
    width: 33.33%;
    height: 600px;
    position: relative;
}

.crimson{
    background-color:rgb(213,0,31);
    width: 50%;
    height: 300px;
    position: relative;
}

.darkblu{
    background-color:rgb(13,36,129);
    width: 50%;
    height: 300px;
    position: relative;
}

.smoke{
    background-color:rgb(180,208,231);
    width: 50%;
    height: 300px;
    position: absolute;
    top: 0;
    right: 0;
}

.giallo{
    background-color:rgb(255,216,48);
    width: 50%;
    height: 300px;
    position: absolute;
    bottom: 0;
    right: 0;
    border: rgb(255,235,152) 10px solid;
}

.nome{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.nome .nome-img path{
    fill: white;
}

.lg .nome-img path{
    fill: black;
    margin-bottom: 50px;
}

.comment{
    padding: 180px 0 100px;
}

/*banner blu*/
article{
    height: 400px;
    background-color:rgb(180,208,231);
}

.banner-blu{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.banner-blu .testo{
    font-size: 50px;
    font-weight: bold;
    color: rgb(97,8,43);
    width: 70%;
    padding-top: 150px;
}

.banner-blu .login{
    text-align: center;
    background-color: white;
    color: black;
    padding: 10px 20px;
    width: 20%;
    position: absolute;
    right: 0;
    top: 175px;
}

/*faq*/
.faq{
    max-width: 1200px;
    margin: 50px auto;
}

.domande{
    font-weight: bolder;
    font-size: 35px; 
    padding-bottom: 35px;
    border-bottom: 1px solid lightgray;
}

.question{
    border-bottom: 1px solid lightgray;
    padding-top: 35px;
    padding-bottom: 35px;
    position: relative;
}

.arrow{
    position: absolute;
    right: 10px;
}

 /*footer*/
footer{
    background-color: black;
    height: 650px;
    margin-top: 100px;
}

footer ul{
    float: left;
    padding-top: 50px;
    width: 20%;
}

footer li{
    color: white;
    margin-top: 25px;
    font-size: 15px;
}

footer li:first-child{
    font-size: 27px;
    height: 50px;
}

.selection{
    width: 75px;
    border-top: white 2px solid;
    padding-top: 30px;
    margin-top: 100px;
}
